*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins",robboto,sans-serif;

}
.home{
    width: 100%;
    background:radial-gradient(#fff,#ffd6d6);
}
.container{
    position: relative;
    max-width: fit-content;
    min-height: 100vh;
    max-width: 1100px;
    margin:auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    flex-wrap:wrap;
}
.logo img{
    height: 40px;
    width:80px;
}
.nav{
    display:flex;
    align-items: center;
    gap: 20px;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color:#555;

}
.nav i{
    color:#555;

}

.cartImg{
    height: 30px;
    width: 30px;
}
.header-main{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 25px;
    margin-top:50px;
}
.navigation{
    display:flex;
    gap: 20px;
    align-items: center;
}
.header-main h1{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    font-family: "poppins", sans-serif;
    margin-bottom: 10px;
}
.header-main p{
    color:#555;
    font-size: 14px;
    margin-bottom: 10px;
}
.header-main .btn{
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 5px 20px;
    font-family: "poppins";
    font-size: 14px;
    border-radius: 20px;
    border: none;
}
.col-2{
    flex-basis: 50%;
}
.col-2 img{
    max-width: 100%;
    height: 400px;
}
.cart{
    display:flex;
    align-items: center;
    gap: 20px;
}
.fa-bars{
    font-size:20px;
    display: none;
}
@media(max-width:768px){
    .navigation .nav{
        /* display: flex; */
        flex-direction: column;
        position:fixed;
        right: 0px;
        top:0px;
        background-color: black;
        width: 40%;
        height: 100vh;
        padding:30px 30px;

    }
    
    .header-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-main h1{
        font-size:30px;
        line-height:35px;
        font-weight:700;
    }
    .col-2 img{
        height: 250px;
    }
    .nav{
        display: none;
    }
  
    .fa-bars{
        display: flex;
    }
    .nav .fa-xmark{
        position: absolute;
        /* display:flex; */
        right:20px;
        top: 15px;
        color: white;
    }
}

.nav .fa-xmark{
    display: none;
}
.ProductContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
}
.title{
  position: relative;
 text-align: center;
 margin-bottom: 5px;
}
.title::after{
    content:'';
    position:absolute;
    bottom:-10px;
    left: 50%;
    height: 5px;
    width: 80px;
    background: #ff523b;
    transform: translateX(-50%);
    border-radius: 10px;

}
/* product page styling--------------- */
.select{
    display: flex;
    justify-content: space-between;
    max-width:80%;
    margin: 40px auto;
}
@media(max-width:425px){
    .select{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
    }
    select{
        height: 20px;
    }
 
    select:focus{
        outline: none;
    }
    .select h2{
        font-size: 18px
    }
}
/* -----------------all product----------------- */
.innerproduct {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px ;
  
}
.innerproduct .product-item{
    margin-top: 15px;
    transition:all 0.2s ease-in;
}
.innerproduct .product-item:hover{
    transform:translateY(-10px);
}
.innerproduct img{
    height: 320px;
}
.innerproduct h4{
    font-size: 14px;
    font-weight: 500;
    color: #555;
    text-transform: capitalize;
}
.stars{
    color: #ff523b;
    font-size: 10px;
    margin-top: 3px;
}
.price{
font-size: 12px;
color: #555;
margin-top: 3px;
}

/* --------------------footer------------------------- */
.footer{
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    text-transform: capitalize;
 }
 .inner-footer{
    display: flex;
    padding: 40px 40px;
    justify-content:space-around;
    flex-wrap: wrap;
 }

 .inner-footer .f1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-basis: 25%; */
  gap:10px;
 }
 .inner-footer .f2{
    display: flex;
    flex-direction: column;
   }
   .footer-detail{
    padding: 10px;
   }
   .f1 h6{
    font-size: 16px ;
    font-weight: 600;
   }
   .f1 p{
    font-size: 12px;
    color: #939191;
    text-align: center;
   }
   .f1 .apps{
    display: flex;
    gap: 5px;
   }
   .apps img{
    height: 40px;
    width: 120px;
   }
   
#f2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    /* flex-basis: 25%; */

}
.f2 img{
    height:40px;
    width: 150px;
    margin-bottom:15px;
}
.f2 p{
    font-size: 13px;
    color: #939191;
}
.f3,.f4,.f1,.f2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.f3 h6{
    font-size: 16px;
    font-weight:500;
    margin-bottom:5px;
}
.f3 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f3 ul li{
    list-style: none;
}
.f3 ul li a{
    color: #939191;
    font-size: 13px;
}
.f3 ul li a:hover   {
    color: white;
}
.f4 h6{
    font-size: 16px;
    font-weight:500;
    margin-bottom:5px;
}
.f4 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f4 ul li{
    list-style: none;
}
.f4 ul li a{
    color: #939191;
    font-size: 13px;
}
.f4 ul li a:hover   {
    color: white;
    font-size: 13px;
}

@media(min-width:650px)and (max-width:768px){
    .inner-footer .col-4{
     width:50%;
    }
 }
@media(max-width:650px) {
    .inner-footer .col-4{
     width: 100%;
    }
 }

hr{
    height:3px;
    width: 90%;
    margin: auto;
 background-color:#939191;
}
.copyright{
  
    text-align: center;
    padding: 10px 10px;
}
.number{
    display: flex;
    justify-content: center;
     gap: 10px;
     margin-bottom: 40px;
    
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border:1px solid #ff523b;
}
.num:hover{
    color: white;
    background-color:#ff523b;
}